/* General Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(img/project-1.jpg) no-repeat center center/ cover;
    /*background-color: rgb(69, 75, 109);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(71, 114, 131));*/
}

.container {
    width: 550px;
    height: 450px;
}

.header {
    font-size: 1.2rem;
    border: solid 2px whitesmoke;
    color: whitesmoke;
    background-color: rgb(13, 13, 14);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(11, 39, 49));
    width: 80%;
    padding: 5px;
    margin: 20px auto;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    height: 350px;
    color: antiquewhite;
    background-color: rgb(31, 40, 88);
    background-image: linear-gradient(to right, rgba(210, 197, 231, 0), rgb(33, 59, 70));
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
}

.main-content .text-area {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.main-content .person {
    font-size: 1.3rem;
    color: rgb(166, 209, 64);
    margin-top: 20px;
}

.button-area button {
    background-color: rgb(25, 25, 27);
    color: white;
    font-size: 1.2rem;
    padding: 15px 10px;
    margin-top: 35px;
    border-radius: 5px;
}

.button-area button :active {
    background-color: lightblue;
}